h1 {
    font-size: 150%;
    text-align: center;
    font-family: 'Supermercado One', cursive;
}

h2 {
    font-size: 120%;
    text-align: center;
    font-family: 'Supermercado One', cursive;
}

p {
    font-size: 100%;
    text-align: center;
    font-family: 'Supermercado One', cursive;
}

#ui {
    text-align: center;
}

footer {
    text-align: right;
    font-size: 80%;
    font-family: 'Arial', sans-serif;
}

.timer {
    text-align: center;
    font-size: 180%;
    font-family: 'Supermercado One', cursive;
}
